@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .nav-item {
    @apply p-4 text-2xl;
  }

  .active {
    @apply bg-active;
  }

  .container {
    @apply m-3 w-full rounded-md p-5 font-bold shadow-container;
  }

  .card {
    @apply flex w-full cursor-pointer items-center justify-between rounded-lg bg-[#ebebeb] px-3 py-5 shadow-card;
  }

  .avatar {
    @apply aspect-square w-1/2 max-w-[100px] rounded-full object-cover;
  }

  .btn {
    @apply min-w-28 rounded-md px-4 py-2 text-white;
  }

  .btn-primary {
    @apply bg-btnPrimary;
  }

  .btn-secondary {
    @apply bg-primary;
  }

  .wanted {
    @apply bg-orange;
  }

  .arrested {
    @apply bg-green;
  }

  .highRisk {
    @apply bg-pink;
  }

  .normal {
    @apply bg-primary;
  }

  .cardContainer {
    display: grid;
    gap: 1rem;
  }

  .itemSkeleton {
    margin-left: 0.6em;
    flex: 0.5;
  }
}

@screen lg {
  .container {
    width: calc(50% - 2rem);
  }

  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
